<html>
  <head></head>
  <body>
    <table>
      <tr>
        <th align="left"><%= bit_number %></th>
        <th>AND</th>
        <th>OR</th>
        <th>XOR</th>
      </tr> 
      <% bit_row.reverse_each.with_index do |b, i| %>
        <tr>
          <td>
            <%= b.join(' ') %>
          </td>
          <td>
            <%= and_row.reverse[i] %>
          </td>
          <td>
            <%= or_row.reverse[i] %>
          </td>
          <td>
            <%= xor_row.reverse[i] %>
            <br>
          </td>
        </tr>
      <% end %>
    </table>
      <br>
      <a href="/">Back to main</a>
  </body>
</html>
